* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Walter Turncoat', cursive;
}
body {
    background-color: #000;
    margin-top: 0px;
    background-image: url("seamless_paper_texture.png");
}
form {
    position: absolute;
    position: fixed;
    bottom: 0;
    width: 100%;
}
form input {
    border: 0;
    padding: 6px;
    margin-right: .5%;
}
form button {
    width: 9%;
    background: rgb(0, 100, 0);
    border: none;
    padding: 6px;
    color: #FFF;
}
ul {
    list-style-type: none;
    overflow: scroll;
    overflow-x: hidden;
}
#messages {
    position: absolute;
    margin: 0;
    padding: 0;
}
#messages li {
    padding: 0px 10px 0px 30px;
    white-space: pre-wrap;
}
#m {
    width: 100%;
}
#mp {
    display: none;
    width: 100%;
}
#echo {
    vertical-align: text-bottom;
}
#header {
    position: absolute;
    text-align: right;
    padding: 3px 3px 6px 3px;
    width:100%;
}
#connectionIcon {
    padding: 0px 2px;
    margin-right: 2px;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    line-height: 20px;
}
#connectionStatus {
    color: #000000;
    width: 110px;
    display: inline-block;
    text-align: center;
}
#echoButton {
    padding: 2px;
    background: linear-gradient(#fff, #aaa);
    border: 1px solid #888;
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    border-radius: 2px;
}
#echoButton:hover {
    background: linear-gradient(#ddd, #888);
}
#echoButton:active {
    background: linear-gradient(#aaa, #fff);
}
#infopanel {
    position: absolute;
}
#tabcontent {
    position: absolute;
    background-color: #bbb9b0;
    padding: 2px;
}
#tabcontent li {
    padding: 0px 10px;
    background-color: #e1ded1;
}
#tabcontent li:nth-child(odd) {
    background-color: #d4d2c8;
}
#map {
    background-color: #000;
    position:absolute;
    color: #fff;
    cursor: move;
}
.connected {
    background-color: #00d900;
    color: #00d900;
}
.notconnected {
    background-color: #d90000;
    color: #d90000;
}
.echo {
    color: #0033aa;
}
.hidden {
    display: none;
}
.tab {
    position: absolute;
    text-align: center;
    cursor: pointer;
    border: 1px solid #bbb9b0;
}
.tab:hover {
    background-color: #d1cfc6;
}
.selected {
    background-color: #bbb9b0;
}
